.checkout h1 {
  text-align: center;
  color: blueviolet;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}
.checkout h3 {
  text-align: center;
  color: blueviolet;
  margin-bottom: 20px;
  font-weight: 600;
  margin-left: -20px;
}
.checkout h4 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}
.checkout h5 {
  text-align: center;
}
.massage {
  color: green;
  font-weight: 600;
  text-align: center;
}
button:disabled {
  cursor: not-allowed;
}
