.product-list {
  margin-bottom: 120px;
}
table {
  text-align: left;
  color: blueviolet;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid blueviolet;
  padding: 10px;
  min-height: 160px;
}
img {
  width: 100px;
  height: 100px;
}
.icon {
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  color: blueviolet;
}
h1 {
  color: blueviolet;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
}
